%base-typography {
  margin-top: $spacing-0;
}

%base-header {
  @extend %base-typography;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
}

body {
  background-color: $color-orange;
  color: $color-dark;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

p {
  @extend %base-typography;
  line-height: 1.3625;
}

strong {
  font-weight: 700;
}

h1 {
  @extend %base-header;
  font-size: 4.375rem;
  font-weight: 600;

  @media only screen and (max-width: $breakpoint-medium) {
    font-size: 2.875rem;
  }
}

h2 {
  @extend %base-header;
  font-size: 2.875rem;
  font-weight: 500;

  @media only screen and (max-width: $breakpoint-medium) {
    font-size: 2rem;
  }
}

h3 {
  @extend %base-header;
  font-size: 2rem;
  font-weight: 500;

  @media only screen and (max-width: $breakpoint-medium) {
    font-size: 1.5rem;
  }
}

h4 {
  @extend %base-header;
  font-size: 1.5rem;
  font-weight: 500;

  @media only screen and (max-width: $breakpoint-medium) {
    font-size: 1.25rem;
  }
}

h5 {
  @extend %base-header;
  font-size: 1.25rem;
  font-weight: 500;

  @media only screen and (max-width: $breakpoint-medium) {
    font-size: 1.125rem;
  }
}

h6 {
  @extend %base-header;
  font-size: 1.125rem;
  font-weight: 500;

  @media only screen and (max-width: $breakpoint-medium) {
    font-size: 1rem;
  }
}

button {
  &:hover {
    cursor: pointer;
  }

  &:focus,
  &:focus-visible {
    border-color: $color-focus;
    outline: 2px solid $color-focus;
    outline-offset: 0 !important;
  }
}

label {
  display: block;
  margin-bottom: $spacing-1;
}

input[type="text"] {
  border: 2px solid $color-dark;
  border-radius: 0.5rem;
  margin-bottom: $spacing-8;
  padding: $spacing-3 $spacing-2;
  width: 100%;

  &:focus,
  &:focus-visible {
    border-color: $color-focus;
    outline: 2px solid $color-focus;
    outline-offset: 0 !important;
  }
}

textarea {
  border: 2px solid $color-dark;
  border-radius: 0.5rem;
  margin-bottom: $spacing-8;
  padding: $spacing-3 $spacing-2;
  width: 100%;

  &:focus,
  &:focus-visible {
    border-color: $color-focus;
    outline: 2px solid $color-focus;
    outline-offset: 0 !important;
  }
}

img {
  max-inline-size: 100%;
}
