@import "./variables.scss";

.bg-orange {
  background-color: $color-orange;
}

.bg-orange--desat {
  background-color: $color-orange-desat;
}

.bg-orange--light {
  background-color: $color-orange-light;
}

.bg-red {
  background-color: $color-red;
}

.bg-red--desat {
  background-color: $color-red-desat;
}

.bg-red--light {
  background-color: $color-red-light;
}

.bg-yellow {
  background-color: $color-yellow;
}

.bg-yellow--desat {
  background-color: $color-yellow-desat;
}

.bg-yellow--light {
  background-color: $color-yellow-light;
}

.bg-purple {
  background-color: $color-purple;
}

.bg-purple--desat {
  background-color: $color-purple-desat;
}

.bg-purple--light {
  background-color: $color-purple-light;
}

.internal-anchor {
  scroll-margin-top: $spacing-16;
}

.button {
  border-radius: 0.5rem;
  border: 2px solid $color-black;
  box-shadow: 0.25rem 0.25rem 0 $color-black;
  color: $color-white;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  padding: $spacing-3 $spacing-4;
  text-decoration: none;

  &:hover,
  &:focus,
  &:focus-visible {
    box-shadow: 0.125rem 0.125rem 0 $color-black;
    transform: translate(0.125rem, 0.125rem);
  }

  &:focus,
  &:focus-visible {
    border-color: $color-blue;
    outline: 2px solid $color-blue;
    outline-offset: 0 !important;
  }

  &.red {
    background-color: $color-red;

    &:hover,
    &:focus {
      background-color: #b80037;
    }
  }

  &.orange {
    background-color: $color-orange;

    &:hover,
    &:focus {
      background-color: #e65800;
    }
  }
}

.display-flex {
  display: flex;
}

.is-light {
  color: $color-white;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hide {
  visibility: hidden;
  height: 0px;
  margin: 0;
  padding: 0;
}

.hide--small {
  @media only screen and (max-width: $breakpoint-medium) {
    display: none !important;
  }
}

.hide--large {
  @media only screen and (min-width: $breakpoint-medium) {
    display: none !important;
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.no-pb {
  padding-bottom: 0 !important;
}

.no-pt {
  padding-top: 0 !important;
}

.spv-px {
  margin-bottom: $spacing-px;
}

.spv-0 {
  margin-bottom: 0;
}

.spv-1 {
  margin-bottom: $spacing-1;
}

.spv-2 {
  margin-bottom: $spacing-2;
}

.spv-3 {
  margin-bottom: $spacing-3;
}

.spv-4 {
  margin-bottom: $spacing-4;
}

.spv-6 {
  margin-bottom: $spacing-6;
}

.spv-8 {
  margin-bottom: $spacing-8;
}

.spv-12 {
  margin-bottom: $spacing-12;
}

.spv-16 {
  margin-bottom: $spacing-16;
}

.spv-32 {
  margin-bottom: $spacing-32;
}

.spv-48 {
  margin-bottom: $spacing-48;
}

.spv-64 {
  margin-bottom: $spacing-64;
}

.sph-px {
  margin-right: $spacing-px;
}

.sph-0 {
  margin-right: 0;
}

.sph-1 {
  margin-right: $spacing-1;
}

.sph-2 {
  margin-right: $spacing-2;
}

.sph-3 {
  margin-right: $spacing-3;
}

.sph-4 {
  margin-right: $spacing-4;
}

.sph-6 {
  margin-right: $spacing-6;
}

.sph-8 {
  margin-right: $spacing-8;
}

.sph-12 {
  margin-right: $spacing-12;
}
