/* colors */
$color-black: #242430;
$color-blue: #4d97ff;
$color-blue-desat: #7192f4;
$color-green: #00d620;
$color-grey-100: #f5f5f5;
$color-grey-80: #d8d7e2;
$color-grey-60: #a5a4b6;
$color-grey-40: #626075;
$color-grey-20: #414053;
$color-link: #0039e6;
$color-orange: #ff7600;
$color-orange-desat: #f36a1b;
$color-orange-light: #ffa900;
$color-purple: #52006a;
$color-purple-desat: #46075a;
$color-purple-mid: #940fbd;
$color-purple-light: #beb8f9;
$color-red: #d1002d;
$color-red-desat: #b80f33;
$color-red-light: #f4718f;
$color-white: #ffffff;
$color-yellow: #ffea00;
$color-yellow-desat: #f9ee76;
$color-yellow-light: #fff7a3;

/* spacing */
$spacing-px: 1px;
$spacing-0: 0;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-12: 3rem;
$spacing-16: 4rem;
$spacing-24: 6rem;
$spacing-32: 8rem;
$spacing-48: 12rem;
$spacing-64: 16rem;

/* breakpoints */
$breakpoint-large: 1160px;
$breakpoint-medium: 768px;
$breakpoint-small: 456px;
