/* colours */
$colour-orange: #FF7600;
$colour-indigo: #52006A;
$colour-maize: #FFF266;
$colour-cardinal: #CD113B;
$colour-orange-alt: #FFA900;
$colour-white: #FFFFFF;
$colour-light: #FFFFFF;
$colour-dark: #242430;

/* spacing */
$spacing-px: 1px;
$spacing-0: 0;
$spacing-4: 1rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-12: 3rem;
$spacing-32: 8rem;
