/* colors */
$color-orange: #ff7600;
$color-indigo: #52006a;
$color-maize: #fff266;
$color-cardinal: #cd113b;
$color-orange-alt: #ffa900;
$color-focus: #2e96ff;
$color-white: #ffffff;
$color-light: #ffffff;
$color-dark: #242430;

/* spacing */
$spacing-px: 1px;
$spacing-0: 0;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-12: 3rem;
$spacing-16: 4rem;
$spacing-24: 6rem;
$spacing-32: 8rem;
$spacing-48: 12rem;
$spacing-64: 16rem;

/* breakpoints */
$breakpoint-large: 1160px;
$breakpoint-medium: 768px;
$breakpoint-small: 412px;
