---
import "../styles/index.scss";
import Button from "../components/Button.astro";
import ButtonLink from "../components/ButtonLink.astro";
import Grid from "../components/Grid.astro";
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Col from "../components/Col.astro";
import DitherDivider from "../components/DitherDivider.astro";
import Section from "../components/Section.astro";
import ServiceCard from "../components/ServiceCard.astro";
import TechSolutionCard from "../components/TechSolutionCard.astro";
---

<Layout title="Neon Carrot">
  <main>
    <Section extraDeep>
      <Grid>
        <Col size={8} start={3} mdSize={8} mdStart={3} smSize={4} smStart={1}>
          <Logo />
          <h1 class="hide spv-12">Neon Carrot</h1>
          <h2 class="heading-3 center is-light spv-12">
            Tech for good, for all
          </h2>
          <div class="center" id="trigger">
            <ButtonLink class="sph-8" color="red" href="#services">
              See our services
            </ButtonLink>
            <ButtonLink color="orange" href="#contact">
              Get in contact
            </ButtonLink>
          </div>
        </Col>
      </Grid>
    </Section>
    <Section class="position-relative" id="about" shallow>
      <Grid extended>
        <Col size={12}>
          <Card class="who-we-are-card">
            <Grid>
              <Col size={6} mdSize={5} smSize={4}>
                <h1 id="who-we-are">Who<br />we are</h1>
                <div class="card-images-container">
                  <div class="image-container">
                    <img
                      class="me-image carol"
                      src="/images/carol.png"
                      height="177"
                      alt="Pop art-style image of Carol"
                    />
                  </div>
                  <div class="image-container">
                    <img
                      class="me-image caleb"
                      src="/images/caleb.png"
                      height="202"
                      alt="Pop art-style image of Caleb"
                    />
                  </div>
                </div>
              </Col>
              <Col size={6} mdSize={7} smSize={4}>
                <div class="spv-8 hide--small"></div>
                <h2 class="heading-4">
                  Neon Carrot is an IT consultancy dedicated to serving
                  not-for-profits.
                </h2>
                <p>
                  We are a couple of passionate and creative problem-solvers
                  with first-hand experience in the not-for-profit space. We
                  know how it can be - IT systems that are bursting at the
                  seams, spreadsheets that are as intricate as they are
                  mission-critical, and time-consuming processes that eat into
                  the important work. You want technology to help, and so do we.
                </p>
                <p>
                  Our mission is to maximise the positive impacts of
                  not-for-profit organisations, and we believe we can do that
                  best using our skills in IT and project management. We deliver
                  innovative tech solutions that enable not-for-profits to
                  provide better services, make better decisions and be better
                  prepared for the future.
                </p>
              </Col>
            </Grid>
          </Card>
        </Col>
      </Grid>
      <DitherDivider class="divider-1" color="yellow" />
      <div class="divider-filler"></div>
    </Section>
    <Section class="bg-yellow no-pb" id="services">
      <Section class="no-pt">
        <Grid>
          <Col size={6} mdSize={5} smSize={4}>
            <h1>What<br />we do</h1>
          </Col>
          <Col size={6} mdSize={7} smSize={4}>
            <div class="spv-8 hide--small"></div>
            <h2 class="heading-4">
              We empower organisations to do what they do best, better.
            </h2>
            <p>
              It's not a revelation to describe digital technology as "kind of a
              big deal", but it's rarely the be-all end-all antidote. We believe
              that the best tech solutions come from working closely with
              clients to fully understand their needs and goals, so whatever
              problem or idea you have, we are ready to work with you to share
              our knowledge and come up with a creative solution.
            </p>
          </Col>
        </Grid>
      </Section>
      <Section class="no-pt">
        <Grid>
          <Col size={12}>
            <h2>Explore opportunities</h2>
          </Col>
        </Grid>
        <Grid>
          <Col size={12}>
            <div class="service-cards">
              <ServiceCard
                color="orange"
                img={{
                  src: "/images/lightning-bolt.jpg",
                  alt: "Pop art lightning bolt",
                }}
                title="Supercharge efficiency"
                message="Free your team to tackle bigger tasks! Automate the mundane for maximum productivity."
              />
              <ServiceCard
                color="orange"
                img={{
                  src: "/images/heart.jpg",
                  alt: "Pop art heart",
                }}
                title="Boost satisfaction"
                message="Craft customer experience strategies that foster loyalty and keep clients happy."
              />
              <ServiceCard
                color="orange"
                img={{
                  src: "/images/up-arrow.jpg",
                  alt: "Pop art arrow pointing upwards",
                }}
                title="Upgrade skills"
                message="Empower your team for digital success! Build skills and confidence to excel."
              />
            </div>
          </Col>
        </Grid>
      </Section>
      <Section class="no-pt">
        <Grid>
          <Col size={12}>
            <h2>Solve challenges</h2>
          </Col>
        </Grid>
        <Grid>
          <Col size={12}>
            <div class="service-cards">
              <ServiceCard
                color="red"
                img={{
                  src: "/images/light-bulb.jpg",
                  alt: "Pop art light bulb",
                }}
                title="Illuminate insights"
                message="A lack of effective reporting can be like trying to see in the dark. Shine a light on what’s important."
              />
              <ServiceCard
                color="red"
                img={{
                  src: "/images/magnifying-glass.jpg",
                  alt: "Pop art magnifying glass",
                }}
                title="Uncover identities"
                message="Managing stakeholder data can be difficult as a company grows. Regain control so you can easily find out who’s who."
              />
              <ServiceCard
                color="red"
                img={{
                  src: "/images/cloud.jpg",
                  alt: "Pop art cloud",
                }}
                title="Embrace the cloud"
                message="Paper-based processes can be prone to error. Save on costs and improve data security using cloud services."
              />
            </div>
          </Col>
        </Grid>
      </Section>
      <DitherDivider color="purple" />
    </Section>
    <Section class="bg-purple is-light no-pb" deep>
      <Section class="no-pt" shallow>
        <Grid>
          <Col size={6}>
            <h1 id="what-we-do">Tech<br />solutions</h1>
          </Col>
          <Col size={6}>
            <div class="spv-8 hide--small"></div>
            <h2 class="heading-4">
              Fuel your organisation’s success with digital technology.
            </h2>
            <p>
              At the heart of every not-for-profit is a passion to change the
              world for the better, so you deserve technology that empowers
              rather than impedes. Let us help you elevate your performance with
              these innovative tech solutions.
            </p>
          </Col>
        </Grid>
      </Section>
      <Section shallow>
        <Grid>
          <Col size={5} mdSize={5} smSize={4}>
            <TechSolutionCard
              color="red"
              img={{
                src: "/images/data-capture.jpg",
                alt: "Cartoon of office workers organising files and folders.",
                height: 238,
              }}
            />
          </Col>
          <Col size={6} start={7} mdSize={6} mdStart={7} smSize={4} smStart={1}>
            <h2>Intuitive data capture and management systems</h2>
            <p>
              Streamline and automate the process of collecting, organising and
              managing data to make it easier to access, analyse and extract
              insights.
            </p>
          </Col>
        </Grid>
      </Section>
      <Section shallow>
        <Grid>
          <Col class="hide--small" size={6} mdSize={6} smSize={4}>
            <h2>Interactive dashboards that use live, real-time data</h2>
            <p>
              Drill down, explore and gain deeper understanding of the operation
              of your business. Harness the power of data to inform
              decision-making.
            </p>
          </Col>
          <Col size={5} start={8} mdSize={5} mdStart={8} smSize={4} smStart={1}>
            <TechSolutionCard
              color="orange"
              img={{
                src: "/images/dashboard.jpg",
                alt: "Cartoon of office worker in front of UI for data dashboard.",
                height: 231,
              }}
            />
          </Col>
          <Col class="hide--large" size={6} mdSize={6} smSize={4}>
            <h2>Interactive dashboards that use live, real-time data</h2>
            <p>
              Drill down, explore and gain deeper understanding of the operation
              of your business. Harness the power of data to inform
              decision-making.
            </p>
          </Col>
        </Grid>
      </Section>
      <Section shallow>
        <Grid>
          <Col size={5} mdSize={5} smSize={4}>
            <TechSolutionCard
              color="yellow"
              img={{
                src: "/images/websites.jpg",
                alt: "Cartoon of office worker in front of UI for website mockup.",
                height: 231,
              }}
            />
          </Col>
          <Col size={6} start={7} mdSize={6} mdStart={7} smSize={4} smStart={1}>
            <h2>Modern and accessible websites and apps</h2>
            <p>
              Establish credibility, engage stakeholders and provide access to
              services with well-designed, user-friendly websites and
              applications.
            </p>
          </Col>
        </Grid>
      </Section>
      <Section shallow />
      <DitherDivider color="yellow" />
    </Section>
    <Section class="bg-yellow" deep id="contact">
      <Grid extended>
        <Col size={12}>
          <Card class="get-in-touch-card" color="orange">
            <Grid>
              <Col size={6} mdSize={6} smSize={4}>
                <h1>Get in touch</h1>
                <div class="contact-item">
                  <div class="contact-icon">
                    <svg
                      fill="#ff7600"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                    >
                      <path
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                        d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                      ></path>
                    </svg>
                  </div>
                  <p class="contact-details">
                    <strong>Phone</strong><br />
                    +12 3456 7890
                  </p>
                </div>
                <div class="contact-item">
                  <div class="contact-icon">
                    <svg
                      fill="#ff7600"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                    >
                      <path
                        d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
                      ></path>
                      <path
                        d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
                      ></path>
                    </svg>
                  </div>
                  <p class="contact-details">
                    <strong>Email address</strong><br />
                    info@neoncarrot.com.au
                  </p>
                </div>
                <img
                  class="megaphone hide--small"
                  src="/images/megaphone.jpg"
                  alt="Pop art-style image of a megaphone"
                  height="330"
                />
              </Col>
              <Col size={6} mdSize={6} smSize={4}>
                <div class="spv-8 hide--small"></div>
                <h2 class="heading-4">We'd love to hear from you.</h2>
                <form
                  name="contact"
                  method="POST"
                  data-netlify="true"
                  data-netlify-recaptcha="true"
                >
                  <div class="text-input">
                    <label for="name">Name</label>
                    <input name="name" id="name" required type="text" />
                  </div>
                  <div class="text-input">
                    <label for="email">Email address</label>
                    <input name="email" id="email" required type="email" />
                  </div>
                  <div class="text-input">
                    <label for="subject">Subject</label>
                    <input name="subject" id="subject" required type="text" />
                  </div>
                  <div class="textarea">
                    <label for="message">Message</label>
                    <textarea
                      name="message"
                      id="message"
                      required
                      maxlength="1000"
                      rows="4"></textarea>
                  </div>
                  <div data-netlify-recaptcha="true"></div>
                  <Button class="submit-button" type="submit">
                    <span style={{ padding: "0 0.75rem" }}>Send</span>
                  </Button>
                </form>
              </Col>
            </Grid>
          </Card>
        </Col>
      </Grid>
    </Section>
  </main>
</Layout>

<style lang="scss">
  @import "../styles/variables.scss";

  .card-images-container {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    left: 2rem;
    position: absolute;
    max-width: 50%;

    .image-container {
      position: relative;
    }

    .me-image {
      block-size: auto;
      display: block;
      filter: drop-shadow(-0.75rem 0 0 $color-orange);
      mix-blend-mode: multiply;

      &.caleb {
        padding-left: $spacing-4;
      }
    }

    @media only screen and (max-width: $breakpoint-large) {
      max-width: 39%;
    }

    @media only screen and (max-width: $breakpoint-medium) {
      left: 1rem;
      max-width: 90%;
    }
  }

  .divider-1 {
    position: absolute;
    width: 100%;
    top: calc(50% - 4.5rem);
    z-index: -10;
  }

  .divider-filler {
    background-color: $color-maize;
    position: absolute;
    width: 100%;
    height: calc(50% - 4.5rem);
    top: calc(50% + 4.5rem);
    z-index: -10;
  }

  .who-we-are-card {
    padding: $spacing-12 $spacing-8;

    @media only screen and (max-width: $breakpoint-large) {
      padding: $spacing-8 $spacing-6;
    }

    @media only screen and (max-width: $breakpoint-medium) {
      padding-bottom: $spacing-48;
    }
  }

  .service-cards {
    display: flex;
    column-gap: 2rem;

    @media only screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
    }
  }

  .get-in-touch-card {
    padding: $spacing-12 $spacing-8 $spacing-0 $spacing-8;

    @media only screen and (max-width: $breakpoint-large) {
      padding: $spacing-8 $spacing-6 $spacing-0 $spacing-6;
    }

    @media only screen and (max-width: $breakpoint-medium) {
      padding-bottom: $spacing-8;
    }
  }

  .megaphone {
    block-size: auto;
    display: flex;
  }

  .contact-item {
    display: flex;
    margin-bottom: $spacing-4;
  }

  .contact-icon {
    height: 1.25rem;
    width: 1.25rem;
  }

  .contact-details {
    padding-left: $spacing-3;
  }

  .submit-button {
    margin: $spacing-8 0;
  }
</style>
