---
import "../styles/index.scss";
import Grid from "../components/Grid.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Col from "../components/Col.astro";
import Section from "../components/Section.astro";
---

<Layout alwaysShowNav title="Privacy policy | Neon Carrot">
  <main class="bg-orange">
    <Section deep>
      <Grid extended>
        <Col size={12}>
          <Card class="privacy-policy-card" color="red">
            <Grid>
              <Col size={12} mdSize={12} smSize={4}>
                <h1>Privacy Policy</h1>
                <p>
                  The Privacy Policy applies to all personal information
                  collected by Neon Carrot via the website located at
                  www.neoncarrot.com.au.
                </p>
                <ol>
                  <li class="strong-list-item">
                    <p>
                      <strong class="list-item-header"
                        >What is "personal information"?</strong
                      >
                    </p>
                    <ol type="a">
                      <li>
                        <p>
                          The Privacy Act 1988 (Cth) currently defines "personal
                          information" as meaning information or an opinion
                          about an identified individual or an individual who is
                          reasonably identifiable:
                        </p><ol type="i">
                          <li>
                            <p>
                              whether the information or opinion is true or not;
                            </p>
                          </li><li>
                            <p>
                              and whether the information or opinion is recorded
                              in a material form or not.
                            </p>
                          </li>
                        </ol>
                      </li>
                      <li>
                        <p>
                          If the information does not disclose your identity or
                          enable your identity to be ascertained, it will in
                          most cases not be classified as "personal information"
                          and will not be subject to this privacy policy.
                        </p>
                      </li>
                    </ol>
                  </li>
                  <li class="strong-list-item">
                    <p>
                      <strong class="list-item-header"
                        >What information do we collect?</strong
                      >
                    </p>
                    <p>
                      The kind of personal information that we collect from you
                      will depend on how you use the website. The personal
                      information which we collect and hold about you may
                      include your name and email address.
                    </p>
                  </li>
                  <li class="strong-list-item">
                    <p>
                      <strong class="list-item-header"
                        >How we collect your personal information</strong
                      >
                    </p><ol type="a">
                      <li>
                        <p>
                          We may collect personal information from you whenever
                          you input such information into the website.
                        </p>
                      </li><li>
                        <p>
                          We also collect cookies from your computer which
                          enable us to tell when you use the website and also to
                          help customise your website experience. As a general
                          rule, however, it is not possible to identify you
                          personally from our use of cookies.
                        </p>
                      </li>
                    </ol>
                  </li>
                  <li class="strong-list-item">
                    <p>
                      <strong class="list-item-header"
                        >Purpose of collection</strong
                      >
                    </p><ol type="a">
                      <li>
                        <p>
                          The purpose for which we collect personal information
                          is to provide you with the best service experience
                          possible on the website.
                        </p>
                      </li><li>
                        <p>
                          We customarily disclose personal information only to
                          our service providers who assist us in operating the
                          website. Your personal information may also be exposed
                          from time to time to maintenance and support personnel
                          acting in the normal course of their duties.
                        </p>
                      </li><li>
                        <p>
                          By using our website, you consent to the receipt of
                          direct marketing material. We will only use your
                          personal information for this purpose if we have
                          collected such information direct from you, and if it
                          is material of a type which you would reasonably
                          expect to receive from us. We do not use sensitive
                          personal information in direct marketing activity. Our
                          direct marketing material will include a simple means
                          by which you can request not to receive further
                          communications of this nature.
                        </p>
                      </li>
                    </ol>
                  </li>
                  <li class="strong-list-item">
                    <p>
                      <strong class="list-item-header"
                        >Access and correction</strong
                      >
                    </p><p>
                      Australian Privacy Principle 12 permits you to obtain
                      access to the personal information we hold about you in
                      certain circumstances, and Australian Privacy Principle 13
                      allows you to correct inaccurate personal information
                      subject to certain exceptions. If you would like to obtain
                      such access, please contact us as set out below.
                    </p>
                  </li>
                  <li class="strong-list-item">
                    <p>
                      <strong class="list-item-header"
                        >Complaint procedure</strong
                      >
                    </p><p>
                      If you have a complaint concerning the manner in which we
                      maintain the privacy of your personal information, please
                      contact us as set out below. All complaints will be
                      considered by us and we may seek further information from
                      you to clarify your concerns. If we agree that your
                      complaint is well founded, we will, in consultation with
                      you, take appropriate steps to rectify the problem. If you
                      remain dissatisfied with the outcome, you may refer the
                      matter to the Office of the Australian Information
                      Commissioner.
                    </p>
                  </li>
                  <li class="strong-list-item">
                    <p>
                      <strong class="list-item-header">Overseas transfer</strong
                      >
                    </p><p>
                      Your personal information may be transferred to recipients
                      located in the United States. The United States has data
                      protection laws which protect personal information in a
                      way which is at least substantially similar to the
                      Australian Privacy Principles, and there will be
                      mechanisms available to you to enforce protection of your
                      personal information under that overseas law. In the
                      circumstances, we do not require the overseas recipients
                      to comply with the Australian Privacy Principles and we
                      will not be liable for a breach of the Australian Privacy
                      Principles if your personal information is mishandled.
                    </p>
                  </li>
                  <li class="strong-list-item">
                    <p>
                      <strong class="list-item-header"
                        >How to contact us about privacy</strong
                      >
                    </p><p>
                      If you have any queries, or if you seek your personal
                      information, or if you have a complaint about our privacy
                      practices, you can contact us through:
                      info@neoncarrot.com.au.
                    </p>
                  </li>
                </ol>
                <Section class="no-pb" shallow>
                  <a href="/">&lsaquo; Back to main page</a>
                </Section>
              </Col>
            </Grid>
          </Card>
        </Col>
      </Grid>
    </Section>
  </main>

  <style lang="scss">
    @import "../styles/variables.scss";

    .privacy-policy-card {
      padding: $spacing-12 $spacing-8;
    }

    .strong-list-item {
      &::marker {
        font-weight: 600;
      }
    }
  </style>
</Layout>
