---
export interface Props {
  class?: string;
  color?: "red" | "orange";
  type?: "button" | "submit" | "reset";
}

const { class: className, color, type } = Astro.props;
---

<button
  class:list={[
    "button",
    className,
    {
      red: !color || color == "red",
      orange: color == "orange",
    },
  ]}
  type={type}
>
  <slot />
</button>
