---
export interface Props {
  bgColor?: string;
  containerClass?: string;
  class?: string;
  color: string;
  fullWidth?: boolean;
}

const {
  bgColor,
  class: className,
  color,
  containerClass,
  fullWidth,
} = Astro.props;
---

<div
  class:list={["card-container", containerClass, { "full-width": !!fullWidth }]}
>
  <div
    class:list={["card", className]}
    style={!!bgColor ? { backgroundColor: bgColor } : undefined}
  >
    <slot />
  </div>
  <div class:list={["card-shadow"]} style={`background-color:${color}`}></div>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .card-container {
    height: 100%;
    position: relative;
    z-index: 1;

    &.full-width {
      width: 100%;
    }
  }

  .card {
    background-color: $color-white;
    border-radius: 1rem;
    border: 2px solid $color-dark;
    overflow: hidden;
    position: relative;
  }

  .card-shadow {
    border-radius: 1rem;
    border: 2px solid $color-dark;
    box-sizing: border-box;
    content: "";
    height: 100%;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: -1;

    &.red {
      background-color: $color-cardinal;
    }

    &.orange {
      background-color: $color-orange;
    }

    &.yellow {
      background-color: $color-maize;
    }

    &.black {
      background-color: $color-dark;
    }
  }
</style>
