---
import Col from "./Col.astro";
import Grid from "./Grid.astro";
import Logo from "./Logo.astro";
---

<footer class="footer">
  <Grid>
    <Col size={12}>
      <div class="footer-contents">
        <a class="left-container" href="#top">
          <Logo height={24} />
        </a>
        <div class="right-container">
          <a class="footer-link" href="#">Privacy policy</a>
          <span
            >&copy; {new Date().getFullYear()} Neon Carrot. All rights reserved.</span
          >
        </div>
      </div>
    </Col>
  </Grid>
</footer>

<style lang="scss">
  @import "../styles/variables.scss";

  .footer {
    background-color: $color-dark;
    color: $color-white;
    padding: $spacing-12 0;
  }

  .footer-contents {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .left-container {
    display: inline-flex;
    padding: $spacing-3 $spacing-8 $spacing-3 0;
  }

  .right-container {
    display: flex;
    flex-wrap: wrap;

    > *:not(:last-child) {
      margin-right: $spacing-8;
    }

    > * {
      padding: $spacing-4 0;
    }
  }

  .footer-link {
    color: $color-white !important;
  }
</style>
