---
import Col from "./Col.astro";
import Grid from "./Grid.astro";
---

<footer>
  <Grid>
    <Col size={12}>
      <span>I'm a footer</span>
    </Col>
  </Grid>
</footer>

<style lang="scss">
  @import "../styles/variables.scss";

  footer {
    background-color: $color-dark;
    color: $color-white;
    padding: $spacing-12 0;
  }
</style>
