---
export interface Props {
  class?: string;
  color?: "red" | "orange" | "yellow" | "purple";
}

const { class: className, color } = Astro.props;
---

<div
  class:list={[
    "halftone-divider",
    className,
    {
      red: !color || color == "red",
      orange: color == "orange",
      yellow: color == "yellow",
      purple: color == "purple",
    },
  ]}
>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .halftone-divider {
    mask: url("/images/halftone.png");
    -webkit-mask: url("/images/halftone.png") repeat-x;
    height: 206px;

    &.red {
      background-color: $color-red-desat;
    }

    &.orange {
      background-color: $color-orange-desat;
    }

    &.yellow {
      background-color: $color-yellow-desat;
    }

    &.purple {
      background-color: $color-purple-desat;
    }
  }
</style>
