<svg
  width="200px"
  height="100%"
  viewBox="0 0 204 164"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Cartoon hearts growing</title>
  <path
    class="small-heart first"
    d="M145.088 17.0996C142.775 13.1038 136.906 12.8609 134.403 17.0162C131.9 12.8609 126.031 13.1038 123.718 17.0996C122.68 19.6279 122.845 21.044 123.718 23.5719C124.234 25.0681 126.438 28.1666 134.403 34.9024C142.368 28.1666 144.572 25.0681 145.088 23.5719C145.96 21.044 146.126 19.6279 145.088 17.0996Z"
    fill="#F4718F"></path>
  <path
    class="small-heart second"
    d="M201.833 20.5719C196.928 12.0997 184.485 11.5849 179.177 20.395C173.87 11.5849 161.427 12.0997 156.521 20.5719C154.321 25.9325 154.672 28.9351 156.521 34.2948C157.616 37.4672 162.289 44.0367 179.177 58.3184C196.066 44.0367 200.739 37.4672 201.833 34.2948C203.682 28.9351 204.033 25.9325 201.833 20.5719Z"
    fill="#F4718F"></path>
  <path
    class="small-heart third"
    d="M83.0721 5.49222C79.066 -1.42693 68.9039 -1.84741 64.5694 5.34776C60.2349 -1.84741 50.0728 -1.42693 46.0667 5.49222C44.2697 9.87014 44.5567 12.3223 46.0667 16.6996C46.9605 19.2904 50.7768 24.6557 64.5694 36.3193C78.3621 24.6557 82.1784 19.2904 83.0721 16.6996C84.5822 12.3223 84.8692 9.87014 83.0721 5.49222Z"
    fill="#F4718F"></path>
  <g class="big-heart" filter="url(#big-heart-filter">
    <path
      d="M174.469 43.5351C159.861 18.3514 122.805 16.821 107 43.0093C91.1945 16.821 54.1387 18.3514 39.5306 43.5351C32.9778 59.4694 34.0244 68.3946 39.5306 84.3265C42.7897 93.7564 56.7057 113.284 107 155.737C157.294 113.284 171.21 93.7564 174.469 84.3265C179.976 68.3946 181.022 59.4694 174.469 43.5351Z"
      fill="#F4718F"></path>
    <path
      d="M105.288 44.0427L107 46.8799L108.712 44.0427C123.678 19.2457 158.751 20.6159 172.672 44.4222C175.843 52.164 177.115 58.0658 176.992 63.8896C176.868 69.7815 175.316 75.7542 172.579 83.6732C171.08 88.0113 166.996 95.0133 156.883 106.314C146.969 117.392 131.368 132.483 107 153.118C82.6317 132.483 67.031 117.392 57.1174 106.314C47.0035 95.0133 42.9202 88.0113 41.4209 83.6732C38.684 75.7542 37.1321 69.7815 37.008 63.8896C36.8854 58.0658 38.1571 52.1641 41.3284 44.4222C55.2489 20.6159 90.3219 19.2457 105.288 44.0427Z"
      stroke="white"
      stroke-width="4"></path>
  </g>
  <path
    class="small-heart fourth"
    d="M49.4322 54.3031L49.3802 54.1772L49.3115 54.0596C44.483 45.7858 32.8789 44.5605 26.5 51.5729C20.1211 44.5605 8.51705 45.7858 3.68847 54.0596L3.61983 54.1772L3.56776 54.3031C2.47623 56.9412 1.95456 59.1537 2.0031 61.4454C2.05086 63.7003 2.65006 65.8733 3.52677 68.3946L5.41109 67.7394L3.52677 68.3946C4.16745 70.2372 5.7214 72.7234 8.95969 76.3199C12.2249 79.9462 17.3183 84.8258 25.2146 91.4504L26.5 92.5288L27.7855 91.4504C35.6817 84.8258 40.7751 79.9462 44.0403 76.3199C47.2786 72.7234 48.8326 70.2372 49.4732 68.3946C50.3499 65.8733 50.9491 63.7003 50.9969 61.4454C51.0454 59.1537 50.5238 56.9412 49.4322 54.3031Z"
    fill="#F4718F"
    stroke="white"
    stroke-width="4"></path>
  <defs>
    <filter
      id="big-heart-filter"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feDropShadow dx="5" dy="4" stdDeviation="0" flood-color="#CD113B"
      ></feDropShadow>
      <feDropShadow dx="5" dy="4" stdDeviation="0" flood-color="#52006A"
      ></feDropShadow>
    </filter>
  </defs>
</svg>

<style lang="scss">
  @import "../styles/variables.scss";

  @keyframes smallheart {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    40% {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
    60% {
      opacity: 0;
      transform: translateY(0.5rem);
    }
    80% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes bigheart {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    80% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  .big-heart {
    animation: bigheart 6s ease-in-out infinite;
    transform-origin: center;
  }

  .small-heart {
    animation: smallheart 6s ease-out infinite;

    &.first {
      animation-delay: 0s;
    }
    &.second {
      animation-delay: 0.2s;
    }
    &.third {
      animation-delay: 0.4s;
    }
    &.fourth {
      animation-delay: 0.6s;
    }
  }
</style>
