<svg
  class="service-card__image"
  width="100%"
  height="175px"
  viewBox="0 0 185 217"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Cartoon lightbulb shining</title>
  <path
    class="rays"
    d="M92.5156 92.3418H92.5181M92.5156 92.3418L14.5742 47.3418M92.5156 92.3418L47.5156 14.4004M92.5156 92.3418V92.3432M92.5156 92.3418V2.3418M92.5156 92.3418L137.516 14.4004M92.5156 92.3418L92.5137 92.3429M92.5181 92.3418L182.516 92.3418M92.5181 92.3418L92.5156 92.3432M92.5181 92.3418L170.457 47.3438M92.5117 92.3418H2.51562M92.5117 92.3418L92.5137 92.3429M92.5117 92.3418L92.5127 92.3435M92.5117 92.3418L92.5098 92.3452M92.5137 92.3429L92.5147 92.3438M92.5137 92.3429L92.5127 92.3435M92.5147 92.3438L170.459 137.342M92.5147 92.3438L92.5156 92.3432M92.5147 92.3438L92.5156 92.3486M92.5127 92.3435L92.5156 92.3486M92.5127 92.3435L92.5098 92.3452M92.5156 92.3486L137.516 170.285M92.5156 92.3486L92.5156 182.342M92.5098 92.3452L47.5156 170.285M92.5098 92.3452L14.5685 137.342M92.4977 92.3429L92.4995 92.3434M92.4977 92.3429L44.0033 43.848M92.4977 92.3429L74.7471 26.098M92.4977 92.3429L92.4968 92.3441M92.4977 92.3429L110.248 26.0974M92.4977 92.3429L140.993 43.8484M92.4977 92.3429L92.496 92.3433M92.4995 92.3434L158.743 110.093M92.4995 92.3434L92.4968 92.3441M92.4995 92.3434L158.742 74.5937M92.4948 92.3421L26.2522 74.5924M92.4948 92.3421L92.496 92.3433M92.4948 92.3421L92.4927 92.3442M92.496 92.3433L92.4968 92.3441M92.496 92.3433L92.4963 92.3478M92.496 92.3433L92.4927 92.3442M92.4968 92.3441L140.993 140.838M92.4968 92.3441L92.4963 92.3478M92.4963 92.3478L110.248 158.589M92.4963 92.3478L74.7473 158.588M92.4927 92.3442L44.0024 140.839M92.4927 92.3442L26.2487 110.092"
    stroke="#FF9F4C"
    stroke-width="4"
    stroke-dasharray="12 4 12 8"
  >
    <animateTransform
      attributeName="transform"
      calcMode="linear"
      type="rotate"
      dur="5s"
      keyTimes="0; 1"
      repeatCount="indefinite"
      values="0 92.5 92.5; 30 92.5 92.5"></animateTransform>
    <animate
      attributeName="stroke"
      calcMode="spline"
      values="#ff9f4d; #ff9f4d; #ffd666; #ff9f4d; #ff9f4d"
      dur="5s"
      keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
      keyTimes="0; 0.47; 0.5; 0.6; 1"
      repeatCount="indefinite"></animate>
    <animate
      attributeName="stroke-dashoffset"
      calcMode="linear"
      values="0; -36"
      dur="7s"
      keyTimes="0; 1"
      repeatCount="indefinite"></animate>
  </path>
  <g filter="url(#bulb-filter)">
    <path
      class="bulb"
      d="M92.4961 48.5001C137.622 48.5925 151.134 100.24 136.131 121.857C121.115 143.494 119.509 152.034 117.798 156.941C116.7 160.089 114.797 173.638 113.574 182.947C113.289 185.116 113.041 187.054 112.849 188.577C112.6 190.546 110.933 192.025 108.956 192.025H108.508V194.478C108.508 196.646 106.757 198.404 104.597 198.404H103.864V198.894C103.864 201.062 102.113 202.82 99.9527 202.82C99.2777 202.82 98.7504 203.382 98.531 204.02C98.0351 205.463 96.67 206.5 95.0638 206.5H92.6174H92.3748H89.9284C88.3221 206.5 86.9571 205.463 86.4612 204.02C86.2418 203.382 85.7145 202.82 85.0394 202.82C82.8794 202.82 81.1283 201.062 81.1283 198.894V198.404H80.3949C78.2348 198.404 76.4837 196.646 76.4837 194.478V192.025H76.0365C74.0595 192.025 72.3921 190.546 72.1435 188.577C71.9511 187.054 71.7031 185.116 71.4182 182.947C70.1952 173.638 68.2925 160.089 67.1947 156.941C65.4835 152.034 63.8772 143.494 48.861 121.857C33.8583 100.24 47.3701 48.5925 92.4961 48.5001Z"
      fill="#FF9F4D"
    >
      <animate
        attributeName="fill"
        values="#ff9f4d; #ff9f4d; #ffd666; #ff9f4d; #ff9f4d"
        dur="5s"
        keySplines="0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1; 0.4 0.1 0.2 1"
        keyTimes="0; 0.47; 0.5; 0.6; 1"
        repeatCount="indefinite"></animate>
    </path>
    <path
      d="M92.3748 48.5C137.598 48.5 151.147 100.221 136.131 121.857C121.115 143.494 119.509 152.034 117.798 156.941C116.7 160.089 114.797 173.638 113.574 182.947M108.508 192.025H108.956C110.933 192.025 112.6 190.546 112.849 188.577C113.041 187.054 113.289 185.116 113.574 182.947M108.508 192.025H92.3748M108.508 192.025V194.478C108.508 196.646 106.757 198.404 104.597 198.404H103.864M103.864 198.404H92.3748M103.864 198.404V198.894C103.864 201.062 102.113 202.82 99.9527 202.82V202.82C99.2777 202.82 98.7504 203.382 98.531 204.02C98.0351 205.463 96.67 206.5 95.0638 206.5H92.3748M113.574 182.947H71.4182M92.6174 48.5C47.3943 48.5 33.8449 100.221 48.861 121.857C63.8772 143.494 65.4835 152.034 67.1947 156.941C68.2925 160.089 70.1952 173.638 71.4182 182.947M76.4837 192.025H76.0365C74.0595 192.025 72.3921 190.546 72.1435 188.577C71.9511 187.054 71.7031 185.116 71.4182 182.947M76.4837 192.025H92.6174M76.4837 192.025V194.478C76.4837 196.646 78.2348 198.404 80.3949 198.404H81.1283M81.1283 198.404H92.6174M81.1283 198.404V198.894C81.1283 201.062 82.8794 202.82 85.0394 202.82V202.82C85.7145 202.82 86.2418 203.382 86.4612 204.02C86.9571 205.463 88.3221 206.5 89.9284 206.5H92.6174"
      stroke="white"
      stroke-width="4"></path>
  </g>
  <defs>
    <filter
      id="bulb-filter"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feDropShadow dx="2" dy="4" stdDeviation="0" flood-color="#FFEA00"
      ></feDropShadow>
      <feDropShadow dx="2" dy="4" stdDeviation="0" flood-color="#CD113B"
      ></feDropShadow>
    </filter>
  </defs>
</svg>
