---
import Col from "./Col.astro";
import Grid from "./Grid.astro";
---

<nav>
  <Grid>
    <Col size={12}>
      <span>I'm a navbar</span>
    </Col>
  </Grid>
</nav>

<style lang="scss">
  @import "../styles/variables.scss";

  nav {
    background-color: $color-cardinal;
    color: $color-white;
    padding: $spacing-4 0;
  }
</style>
