---
import Card from "./Card.astro";

export interface Props {
  color: string;
  img: string;
  message: string;
  title: string;
}

const { color, img, title, message } = Astro.props;
---

<div class="container">
  <Card class="service-card" color={color}>
    <div class="center">
      <div class="service-card__image">
        <Fragment set:html={img} />
      </div>
    </div>
    <h3 class="heading-4 center">{title}</h3>
    <p class="center">
      {message}
    </p>
  </Card>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .container {
    flex: 1;
    margin-bottom: $spacing-8;
  }

  .service-card {
    box-sizing: border-box;
    height: 100%;
    padding: $spacing-4 $spacing-6;
  }

  .service-card__image {
    height: 175px;
    margin: $spacing-2 0 $spacing-8 0;
    max-width: 200px;
  }
</style>
