---
import { Picture } from "@astrojs/image/components";
import Card from "./Card.astro";

export interface Props {
  bgColor?: string;
  img: {
    alt: string;
    src: ImageMetadata;
  };
}

const { bgColor, img } = Astro.props;
---

<div class="tech-solution-card-container">
  <Card bgColor={bgColor} class="tech-solution-card" color="black" fullWidth>
    <div class="center">
      <Picture
        class="tech-solution-image"
        alt={img.alt}
        height={300}
        width={300}
        src={img.src}
        loading="lazy"
        formats={["webp"]}
        widths={[300, 400]}
        sizes="(min-width: 1160px) 300px, 400px"
      />
    </div>
  </Card>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .tech-solution-card-container {
    margin-bottom: $spacing-8;
  }

  .tech-solution-card {
    padding: $spacing-4;
  }

  .tech-solution-image {
    block-size: auto;
  }

  .full-width {
    width: 100%;
  }
</style>
