---
import Card from "./Card.astro";

export interface Props {
  color: "red" | "orange" | "yellow";
  img: {
    alt: string;
    height: number;
    src: string;
  };
}

const { color, img } = Astro.props;
---

<div class="tech-solution-card-container">
  <Card class="tech-solution-card" color={color} fullWidth>
    <div class="center">
      <img
        class="tech-solution-image"
        alt={img.alt}
        height="250"
        width="250"
        src={img.src}
        loading="lazy"
      />
    </div>
  </Card>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .tech-solution-card-container {
    margin-bottom: $spacing-8;
  }

  .tech-solution-card {
    padding: $spacing-4;
  }

  .tech-solution-image {
    block-size: auto;
  }

  .full-width {
    width: 100%;
  }
</style>
