---
import Card from "./Card.astro";

export interface Props {
  color: "red" | "orange" | "yellow";
  img: {
    alt: string;
    height: number;
    src: string;
  };
}

const { color, img } = Astro.props;
---

<div class="align">
  <div class="tech-solution-card-container">
    <Card class="tech-solution-card" color={color} fullWidth>
      <div class="center">
        <img
          class="tech-solution-image"
          alt={img.alt}
          height={`${img.height}`}
          src={img.src}
        />
      </div>
    </Card>
  </div>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .align {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .tech-solution-card-container {
    margin-bottom: $spacing-8;
  }

  .tech-solution-card {
    padding: $spacing-6;
  }

  .tech-solution-image {
    block-size: auto;
  }

  .full-width {
    width: 100%;
  }

</style>
