---
import { Picture } from "@astrojs/image/components";
import Card from "./Card.astro";
import { COLORS } from "../constants";

export interface Props {
  img: {
    alt: string;
    src: ImageMetadata;
  };
}

const { img } = Astro.props;
---

<div class="tech-solution-card-container">
  <Card class="tech-solution-card" color={COLORS.yellow} fullWidth>
    <div class="center">
      <Picture
        class="tech-solution-image"
        alt={img.alt}
        height={250}
        width={250}
        src={img.src}
        loading="lazy"
        formats={["webp"]}
        widths={[250, 500]}
        sizes="(min-width: 1160px) 250px, 500px"
      />
    </div>
  </Card>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .tech-solution-card-container {
    margin-bottom: $spacing-12;
  }

  .tech-solution-card {
    padding: $spacing-4;
  }

  .tech-solution-image {
    block-size: auto;
  }

  .full-width {
    width: 100%;
  }
</style>
